<!-- Just an image -->
<nav class="navbar navbar-light bg-light main">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", width: 150, alt: "cocktails logo", class: "mx-3.5" %>
    <% end %>
    <h1>Cocktails</h1>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-light my-2 my-sm-0" type="submit" id="search-btn">Search</button>
    </form> -->
    <%= link_to 'New Cocktail', new_cocktail_path, class: "btn btn-light mx-5", id: "new-btn" %>
</nav>
