<button type="button" class="btn btn-light new-btn text-center home" data-aos="zoom-in-up" data-toggle="modal" data-target="#exampleModalCenter">
  Enter the website
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Welcome to mr Cocktail website!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This website was coded as one of the first projects at Le Wagon coding bootcamp. This website is cocktail listing and creation platform. Users
            can view cocktails listed and add creation. Users can add and edit cocktails ingredient list  and also can leave review for each cocktail.</p>
        <p>Would you have any questions or doubts, please feel free to contact on LinkedIn or GitHub, credantials listed in the footer.</p>
        <p>Have a great day!</p>
      </div>
      <div class="modal-footer submit-btn">
        <%= link_to 'Leave', 'https://tenor.com/bcdSf.gif', class: "btn btn-outline-secondary"%>
        <%= link_to 'Enter' , cocktails_path,class: "btn btn-light new-btn" %>

      </div>
    </div>
  </div>
</div>
