
<div class="cards" data-aos="fade-down-left">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category " style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path cocktail.photo.key %>')">
      <div class="container">
        <p id="top-left">POPULAR</p>
        <div class="edit">
          <%= link_to cocktail, class: "btn_pink" do %>
            <i class="fas fa-pencil-alt"></i>
          <%end  %>
        </div>
        <div class="title">
          <h4><%=cocktail.name%></h4>
          <% cocktail.ingredients.each do |ingredient| %>
            <ul class="description">
              <li><p><%= ingredient.name %></p></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
