<h1>New Cocktail</h1>
<div class="container">
  <%= render 'form', cocktail: @cocktail %>
</div>
<div class="container">
  <%= link_to 'Back', cocktails_path, class: "btn btn-outline-secondary" %>
</div>
