<div class="card" id="new-cocktail">
  <div class="container" id="title">
    <h1>New Cocktail</h1>
  </div>
  <div class="container new-cocktail">
    <div class="container ">
      <%= render partial: 'form'%>
    </div>
    <div class="container"  id="new-form">
     <!--  -->
    </div>
  </div>
</div>
