<div class="show-page">
  <div class="header_title">
    <h1><%= @cocktail.name %></h1>
  </div>
  <div class="row mt-4 mb-4">
    <div class="photo_input col-md-4 col-sm-12">
      <%= cl_image_tag @cocktail.photo.key, height: 600, width: 600, crop: :fill %>
    </div>
    <div class="col-md-3">
    </div>
    <%= render partial: 'shared/newingredient'%>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-md-3"></div>
    <%= render partial: 'shared/reviews'%>
    <div class="col-md-3">
    </div>
  </div>
</div>
