// Specific CSS for your home-page
.home {
  font-weight: bold;
  font-size: 32px;
}

@media (min-width: 100px) and (max-width: 575px) {
.home {

}

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
.home {

}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
 .home {
    position: absolute;
    top: 35%;
    left: 43%;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
 .home {
    position: absolute;
    top: 35%;
    left: 43%;
}

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
 .home {
    position: absolute;
    top: 35%;
    left: 43%;
}

}
