.photo_input img {
  // margin-left: 50px;
  border-radius: 50%;
  box-shadow: 5px 10px 5px -11px rgba(0,0,0,0.75);
}
.header_title h1 {
  margin: 50px 0px;
 text-align: center;
}
.simple-group {
  // width: 100%;
  border-radius: 4px;
}
.simple-form {
  font-family: 'Josefin Slab';
  font-size: 24px;

}

.simple-form h3 {
  font-family: 'Allura';
}
.ingredients h3 {
  font-family: 'Allura';
}

.ingredients h6, .list-unstyled {
    font-family: 'Josefin Slab';
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .photo_input img {
    margin: 10px 35px auto;
    height: 300px;
    width: 300px;
  }
  .simple-form {
    max-width: 90%;
    // padding-right: 0px;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
 .photo_input img {
    margin: 10px 35px auto;
    height: 300px;
    width: 300px;
  }
  .simple-form {
    max-width: 90%;
    // padding-right: 0px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
 .photo_input img {
    margin: 10px 50px auto;
    height: 400px;
    width: 400px;
  }
  .simple-form {
    max-width: 90%;
    // padding-right: 0px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .photo_input img {
    margin: 10px 50px auto;
    height: 500px;
    width: 500px;
  }
  .simple-form {
    max-width: 100%;
    // padding-right: 0px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

 .photo_input img {
    margin: 10px 50px auto;
    height: 600px;
    width: 600px;
  }
  .simple-form {
    max-width: 100%;
    // padding-right: 0px;
  }
}
