.cards {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin:  30px 150px auto;
  flex-grow: 1;

}
.push {
  height: 150px;
}

.card-category{
  position: relative;
  height: 700px;
  // width: 350px;
  // background-image: url("https://source.unsplash.com/collection/962396"),url("https://source.unsplash.com/collection/4931760");
  background-position: center;
  background-size: cover;
  font-family: 'Josefin Slab';
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 30px;
  padding-left: 12px;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgb(254, 239, 239);
}

.card-category:hover {
  box-shadow: inset 0px 0px 16px 0px rgb(254, 239, 239);
}

.description {
  display:none;
  transition: all 6s ease-in-out;
  z-index: 2;
}
// .inline-block {

//   display: flex;
//   justify-content: space-between;
// }

.title:hover > .description {
  margin: 0px;
  display: block; }

#top-left {
  text-shadow: 1px 1px 2px grey;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 5%;
}

.btn_pink {
  color: white;

}
.btn_pink:hover {
  color: pink;
}
.inline-block h4 {
  text-shadow: 0.5px 0.5px 2px grey;
}
.edit {
  text-shadow: 0.5px 0.5px 2px grey;
  position: absolute;
  top: 10px;
  left: 85%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
    margin: 20px 60px auto;
  }
  .card-category {
    height: 300px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
   grid-template-columns: 1fr 1fr;
    margin-left: 10px auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .card-category {
    height: 400px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .card-category {
    height: 450px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-category {
    height: 500px;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
    .card-category {
    height: 700px;
  }
    .edit {
    left: 90%;
  }
  .inline-block {

  display: flex;
  justify-content: space-between;
 }

}
