.footer {
  background-color: white;
  font-family: 'Josefin Slab';
  margin: 0 auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.links a {
  color: rgb(254, 219, 219);
  font-size: 32px;

}

.footer p {
  font-size: 22px;
}
