nav {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 10px 5px -11px rgba(0,0,0,1);
  margin: 0px auto;
}
h1 {
  font-family: 'Limelight';
  letter-spacing: 10px;
  padding-left: 20px;
  text-shadow: 2px 2px 4px #000000;
}
#new-btn {
  font-family: 'Limelight';
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 1px 16px 4px rgba(214,214,214,1);
}

#new-btn:hover {
  box-shadow: inset 6px 4px 16px 4px rgba(214,214,214,1);

}
