nav {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 10px 5px -11px rgba(0,0,0,1);
  margin: 0px auto;
}
.headline {
  color: black;
  text-decoration: none;
  text-align: center;
  font-family: 'Allura';
  letter-spacing: 10px;
  padding-left: 20px;
  text-shadow: 2px 2px 4px #000000;
}
.headline:hover {
  color: black;
  text-decoration: none;
}
//
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .navbar {
    width: 100%;
  }
  .new-btn {
    display: none;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar {
    width: 100%;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar {
    width: 100%;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar {
    width: 100%;
  }

}
