#new-form {
  margin-top: 15px;
  margin-bottom: 25px;

}
#new-cocktail {
  width: 600px;
  margin: 0px auto;
  float: none;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#title h1 {
  padding-top: 25px;
  padding-left: 0px;
  text-align: center;
}

#new-cocktail h1 {
  font-family: 'Allura';
   text-shadow: 2px 2px 4px #f2f2f2;
}
.new-cocktail {
  font-family: 'Josefin Slab';
}
.submit-btn {
  display: flex;
  justify-content: space-between;
}
